footer {
    background-color: var(--primaryColor);
    
}
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--marginElement) 0 ;
}
#logo svg {
    max-width: 70%;
    height: auto;
}

#coordonnées > p {
    color: white;
    padding: 1px;
}
#coordonnées > h3 {
    color: var(--fifthColor);
}

#descriptionFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}