.container {
	display: flex;
	flex-direction: column;
	position: relative;

	color: var(--primaryColor);
	font-family: var(--fontFamily);
}

.select {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	height: var(--input-height);
	line-height: var(--input-height);
	margin: 0;
	padding: 0.5em 1.5em;
	padding-right: 50px;
	border: none;

	font-family: var(--fontFamily);
	font-size: 18px;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	background: var(--fifthColor);

	cursor: pointer;
	transition: 0.1s;
}
.select:focus {
	outline: none;
	box-shadow: var(--box-shadow), var(--box-shadow-focus);
}

.options {
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: absolute;
	top: 130%;
	width: 100%;
	padding: 0.6em;

	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	background: var(--fifthColor);

	z-index: 1;
}
.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	height: 42px;
	padding: 0.6em 1em;

	border-radius: var(--border-radius);
	font-size: 20px;
	cursor: pointer;
}
.option:hover {
	color: white;
	background: hsl(298, 30%, 50%);
}
.selected {
	background: hsl(0, 0%, 90%);
}

.arrow {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 22px;
	top: 5px;
	bottom: 5px;
	right: 11px;

	background: center no-repeat url("../../images/arrowDown.svg");
	background-size: contain;

	transition: 0.25s;
	opacity: 0.8;
}
.open .arrow {
	opacity: 0.2;
}

.suffix {
	position: absolute;
	right: 1em;

	opacity: 0.5;
}
.select > .suffix {
	right: 2.3em;
}